/* global styles */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 100%;
  background-color: #ddd;
  color: #666;
}
a, a:hover {
  outline: 0 !important;
  text-decoration: none;
}
/*
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*/
.container {
  margin: auto;
}
.disable-select {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
   -khtml-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.footer {
  font-size: 80%;
  text-align: right;
  margin-top: 0.5em;
  padding-top: 0.3em;
  color: #555;
  border-top: 1px solid #ccc;
}
.url {
  font-size: 90%;
}

.nav-pic-user {
  max-height: 28px;
}

.list-inline-right {
  margin-top: -0.5em;
  text-align: right;
  padding-right: 1.0em;
}

.centered {
  text-align: center;
}
