<div class="container customers-page">
  <div ng-show="signedIn()" ng-controller="CustomersCtrl">

    Search customer: <input type="text" ng-model="customerSelected" typeahead="customer as customer.name for customer in customers | orderByPriority | filter:{name: $viewValue} | limitTo:8" class="form-control">
<!--    <pre>{{ customerSelected }}</pre> -->
<!--    | filter:$viewValue  -->

    <table ng-table="tableParams" class="table">

      <!-- See http://bazalt-cms.com/ng-table/example/3 for table sorting -->

      <tr ng-repeat="(customerId, customer) in customers" ng-if="!customer.hasOwnProperty('deleted')">
        <td title="Customer name" sortable="'name'" class="condensed">
          {{ customer.name }}
        </td>
        <td title="Customer P. IVA" sortable="'piva'" class="condensed">
          {{ customer.piva }}
        </td>
        <td title="Customer street address" sortable="'address'" class="condensed">
          {{ customer.address }}
        </td>
        <td title="Customer email address" sortable="'email'" class="condensed">
          {{ customer.email }}
        </td>
        <td title="Edit customer data" class="condensed">
          <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="editCustomer(customerId)" t_itle="Edit customer data"><i class="glyphicon glyphicon-pencil"></i></a>
        </td>
        <td title="Delete customer" class="condensed">
          <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="deleteCustomer(customerId)" t_itle="Remove customer"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
      </tr>
    </table>  
    <hr>

    <input type="button" value="New customer" ng-show="signedIn() && !(customerAddMode || customerEditMode)" ng-click="customerAddMode = true" />

    <form ng-show="signedIn() && (customerAddMode || customerEditMode)" class="customer form-horizontal">

      <div class="form-group form-group-condensed" title="Name of the customer">
        <label for="name" class="control-label col-xs-2">Name</label>
        <div class="col-xs-10 left-inner-addon">
          <i class="glyphicon glyphicon-user"></i>
          <input type="text" class="form-control" id="name" ng-model="customer.name">
        </div>
      </div>

      <div class="form-group form-group-condensed" title="P. IVA of the customer">
        <label for="piva" class="control-label col-xs-2">P. IVA</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="piva" ng-model="customer.piva">
        </div>
      </div>

      <div class="form-group form-group-condensed" title="Street address of the customer">
        <label for="address" class="control-label col-xs-2">Address</label>
        <div class="col-xs-10">

          <!-- See http://plnkr.co/edit/il2J8qOI2Dr7Ik1KHRm8?p=preview for address autocomplete -->

          <input type="text" class="form-control" id="address" ng-model="customer.address">
        </div>
      </div>

      <div class="form-group form-group-condensed" title="Email address of the customer">
        <label for="email" class="control-label col-xs-2">Email</label>
        <div class="col-xs-10">
          <input type="email" class="form-control" id="email" ng-model="customer.email">
        </div>
      </div>

      <div class="customer row" style="margin-top: 0.2em;">
        <div class="col-xs-12">
          <button type="submit" ng-click="submitCustomer()">Save</button>
          <button type="reset" ng-click="cancelCustomer()">cancel</button>
        </div>
      </div>

    </form>  
  </div>
</div>