<div class="auth-forms" style="width: 20.0em; margin: auto;">

  <h3>Log In</h3>
 
  <form ng-submit="login()" autocomplete="on">
    <div style="float: left;">
      <div ng-hide="error" class="text-danger">&nbsp;</div>
      <div ng-show="error" class="text-danger">{{ error }}</div>
    </div>
    <div class="alignclearboth"></div>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control" autocomplete="on" auto-fill-sync>
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control" autocomplete="on" auto-fill-sync>
    <span style="font-size: 90%; text-decoration: underline; float: right;">
      <a href="javascript:void(0)" ng-click="">I forgot my password</a>
    </span>
    <div class="alignclearboth"></div>
    <input type="submit" value="Log in" class="btn btn-primary" auto-focus="true" autofocus />
  </form>
 
</div>