<div class="container orders-page">
  <div ng-show="signedIn()" ng-controller="OrdersCtrl">
    <hr>
    <div class="order row" ng-repeat="(orderId, order) in orders">
      <div class="col-xs-7">
        <span class="info">
          <a href="{{ order.url }}">{{ order.title }}
            <span class="url">[{{ order.url | hostnameFromUrl }}]</span>
          </a>
        </span>
      </div>
      <div class="col-xs-3">
        <span>by <a href="#/users/{{ order.owner }}">{{ order.owner }}</a></span>
      </div>
      <div class="col-xs-2" style="white-space: nowrap;" >
        <a href="#/orders/{{ orderId }}"><span class="glyphicon glyphicon-list" title="order details"></span></a>
        &nbsp;
        <a href="#/orders" ng-click="deleteOrder(orderId)" ng-show="signedIn() && order.owner === currentUser.username"><span class="glyphicon glyphicon-trash" title="remove order"></span></a>
      </div>
    </div>
    <hr>
    <input type="button" value="New order" ng-show="signedIn() && !addingOrder" ng-click="addingOrder = true" />
    <form ng-submit="submitOrder()" ng-show="signedIn() && addingOrder">
      <input type="text" ng-model="order.title" />
      <input type="text" ng-model="order.url" />
      <input type="submit" value="Add Order" />
    </form>  
  </div>
</div>