<div class="container servicereports-page">
  <div ng-show="signedIn()" ng-controller="ServicereportsCtrl">
    <hr>
    <div class="servicereport row" ng-repeat="(servicereportId, servicereport) in servicereports">
      <div class="col-xs-4">
        <strong><a href="#/customers/{{ servicereport.servicereportId }}">{{ servicereport.customer }}</a></strong>
      </div>
      <div class="col-xs-3">
        <strong><i>{{ servicereport.title }}</i></strong>
      </div>
      <div class="col-xs-1">
        <span><a href="#/users/{{ servicereport.owner }}">{{ servicereport.owner }}</a></span>
      </div>
      <div class="col-xs-2">
        {{ servicereport.date | date: 'yyyy-MM-dd HH:mm:ss Z' }}
      </div>
      <div class="col-xs-2" style="white-space: nowrap;" >
<!--
        <a href="#/servicereports/{{ servicereportId }}"><span class="glyphicon glyphicon-list" title="servicereport details"></span></a>
        &nbsp;
-->
        <a href="#/servicereports" ng-click="deleteServicereport(servicereportId)" ng-show="signedIn() && servicereport.owner === currentUser.username"><span class="glyphicon glyphicon-trash" title="remove servicereport"></span></a>
      </div>
      <br />
      <div class="col-xs-12" style="font-size: 90%;">
        {{ servicereport.text }}
      </div>
    </div>
    <hr>
    <input type="button" value="New service report" ng-show="signedIn() && !adding" ng-click="adding = true" />
    <form ng-submit="submitServicereport()" ng-show="signedIn() && adding">
      <input type="text" ng-model="servicereport.customer" placeholder="customer name" /><br /><br />
      <input type="text" ng-model="servicereport.title" placeholder="title" /><br /><br />
      <input type="datetime" ng-model="servicereport.date" p_laceholder="{{ servicereport.date | date: 'yyyy-MM-dd' }}" /><br /><br />
      <textarea ng-model="servicereport.text" placeholder="description" style="width: 75%; height: 8.0em;"></textarea><br /><br />
      <br />
      <input type="submit">Add service report</button>
      <button type="cancel" ng-click="adding = false">cancel</button>
    </form>  
  </div>
</div>