<div class="container servicereports-page">
  <div ng-show="signedIn()" ng-controller="ServicereportsCtrl">

    <form ng-hide="servicereportAddMode || servicereportEditMode || servicereportPrintMode" class="servicereport form-inline">
      <div class="form-group form-group-condensed" title="Filter service reports">
        <div class="right-inner-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" ng-model="search" class="form-control form-control-search">
        </div>
      </div>
      <div class="form-group form-group-condensed" title="Add service report">
        <input type="button" value="New service report" ng-show="signedIn() && !(servicereportAddMode || servicereportEditMode)" ng-click="servicereportAddMode = true" />
      </div>
      <div class="vertical-spacer" style="height: 1.0em;">
      </div>
    </form>

    <div ng-hide="servicereportPrintMode">
      <table ng-table="tableParams" class="table">
        <tr>
          <th style="border: 1px solid #ccc;">
            <span ng-click="orderby = '-number'">Number</span>
            <a ng-click="orderby = 'number'"><i ng-show="orderby === '-number'" class="glyphicon glyphicon-chevron-up"></i></a>
            <a ng-click="orderby = '-number'"><i ng-show="orderby === 'number'" class="glyphicon glyphicon-chevron-down"></i></a>
          </th>
          <th style="border: 1px solid #ccc;">
            <span ng-click="orderby = '-date'">Date</span>
            <a ng-click="orderby = 'date'"><i ng-show="orderby === '-date'" class="glyphicon glyphicon-chevron-up"></i></a>
            <a ng-click="orderby = '-date'"><i ng-show="orderby === 'date'" class="glyphicon glyphicon-chevron-down"></i></a>
          </th>
          <th style="border: 1px solid #ccc;">
            <span ng-click="orderby = 'customername'">Customer name</span>
            <a ng-click="orderby = 'customername'"><i ng-show="orderby === '-customername'" class="glyphicon glyphicon-chevron-up"></i></a>
            <a ng-click="orderby = '-customername'"><i ng-show="orderby === 'customername'" class="glyphicon glyphicon-chevron-down"></i></a>
          </th>
          <th style="border: 1px solid #ccc;">
            Place
          </th>
          <th style="border: 1px solid #ccc;">
            Notes
          </th>
          <th style="border: 1px solid #ccc;"></th>
        </tr>
        <!-- TODO (?): see http://bazalt-cms.com/ng-table/example/3 for table sorting -->
        <tr ng-repeat="(servicereportId, servicereport) in servicereports | orderByPriority | filter:search | orderBy: orderby" ng-if="!servicereport.hasOwnProperty('deleted') && servicereport.hasOwnProperty('number')">
          <td title="Number" sortable="'number'" class="condensed">
            {{ servicereport.number }}
          </td>
          <td title="Date" sortable="'name'" class="condensed">
            {{ servicereport.date | date: 'dd MMMM yyyy H:mm' }}
          </td>
          <td title="Customer name" sortable="'name'" class="condensed">
            {{ servicereport.customername }}
          </td>
          <td title="Place" sortable="'place'" class="condensed">
            {{ servicereport.place }}
          </td>
          <td title="Notes" sortable="'notes'" class="condensed">
            {{ servicereport.notes }}
          </td>
          <td class="condensed">
            <a title="Edit service report" href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="editServicereport(servicereport)"><i class="glyphicon glyphicon-pencil"></i></a>
  
            <a title="Print service report" href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="preprintServicereport(servicereport)"><i class="glyphicon glyphicon-print"></i></a>
  
            <button
              title="Delete service report" 
              class="btn btn-primary btn-xs glyphicon glyphicon-trash"
              really-message="Are you really sure to remove service report <i>{{servicereport.number}}</i> ?" really-click="deleteServicereport(servicereport)"
            >
            </button>
          </td>
        </tr>
      </table>  
    </div>

    <form ng-show="signedIn() && (servicereportPrintMode || servicereportAddMode || servicereportEditMode)" class="servicereport form-horizontal">

      <div class="form-group form-group-condensed" title="Number of service report">
        <label for="name" class="control-label col-xs-2">Number</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="number" ng-model="servicereport.number" disabled />
        </div>
      </div>

      <div class="form-group form-group-condensed" title="Date of service report">
        <label for="name" class="control-label col-xs-2">Date</label>
        <div class="col-xs-10 l_eft-inner-addon">
          <span ng-hide="servicereportPrintMode">
          <p class="input-group" style="margin-bottom: 0;">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="servicereport.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="border-radius: 4px;" />
          </p>
          </span>
          <span ng-show="servicereportPrintMode">
            <input type="text" class="form-control" ng-value="servicereport.date | date: 'dd MMMM yyyy H:mm'" />
          </span>
        </div>
      </div>

      <div class="form-group form-group-condensed" title="Owner of service report">
        <label for="owner" class="control-label col-xs-2">Owner</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="owner" ng-model="servicereport.owner">
        </div>
      </div>

      <div class="form-group form-group-condensed" title="Customer name">
        <label for="customername" class="control-label col-xs-2">Customer</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="customername" ng-model="servicereport.customername" autofocus>
        </div>
      </div>

      <div class="form-group form-group-condensed" title="Place of intervention">
        <label for="place" class="control-label col-xs-2">Place</label>
        <div class="col-xs-10">
          <!-- TODO: see http://plnkr.co/edit/il2J8qOI2Dr7Ik1KHRm8?p=preview for address autocomplete -->
          <input type="text" class="form-control" id="place" ng-model="servicereport.place">
        </div>
      </div>

      <div class="form-group form-group-condensed" title="Notes about intervention">
        <label for="notes" class="control-label col-xs-2">Notes</label>
        <div class="col-xs-10">
          <textarea rows="5" class="form-control" id="notes" ng-model="servicereport.notes" ></textarea>
        </div>
      </div>

      <div class="servicereport row no-print" style="margin-top: 0.2em;">
        <div class="col-xs-12">
          <span ng-hide="servicereportPrintMode">
            <button type="submit" ng-click="submitServicereport()">Save</button>
          </span>
          <span ng-show="servicereportPrintMode">
            <button type="submit" ng-click="printServicereport()">Print</button>
          </span>
          <button type="text" ng-click="cancelServicereport()">cancel</button>
        </div>
      </div>

    </form>  
  </div>
</div>